In [1]:
# https://machinelearningmastery.com/knn-imputation-for-missing-values-in-machine-learning/
from numpy import isnan
from pandas import read_csv
from sklearn.impute import KNNImputer

In [7]:
data_path = "/home/alex/Desktop/BBDC2023/bbdc_2023_AWI_data_develop_student.csv"

In [10]:
dataframe = read_csv(data_path, delimiter=";", na_values='?')

dataframe = dataframe[1:]
dataframe
t_data = dataframe[["Datum", "Uhrzeit", "Temperatur"]]
t_data

            Datum Uhrzeit Temperatur
1      01.01.1962     NaN        NaN
2      02.01.1962    9:00        4.6
3      03.01.1962    9:00        5.1
4      04.01.1962    9:00        4.3
5      05.01.1962    9:00        5.1
...           ...     ...        ...
17527  27.12.2010     NaN        NaN
17528  28.12.2010    8:30        2.9
17529  29.12.2010    8:15        2.1
17530  30.12.2010    8:30        3.6
17531  31.12.2010     NaN        NaN

[17531 rows x 3 columns]

In [ ]:
# split into input and output elements
data = dataframe.values
ix = [i for i in range(data.shape[1]) if i != 23]
X, y = data[:, ix], data[:, 23]
# print total missing
print('Missing: %d' % sum(isnan(X).flatten()))
# define imputer
imputer = KNNImputer()
# fit on the dataset
imputer.fit(X)
# transform the dataset
Xtrans = imputer.transform(X)
# print total missing
print('Missing: %d' % sum(isnan(Xtrans).flatten()))

In [11]:
# split into input and output elements
data = t_data.values
data

array([['01.01.1962', nan, nan],
       ['02.01.1962', '9:00', '4.6'],
       ['03.01.1962', '9:00', '5.1'],
       ...,
       ['29.12.2010', '8:15', '2.1'],
       ['30.12.2010', '8:30', '3.6'],
       ['31.12.2010', nan, nan]], dtype=object)

In [12]:
class Rectangle(object):
    def __init__(self, width, height) -> None:
        self.width = width
        self.__height = height
    
    def area(self):
        return self.width * self.__height
    
r = Rectangle(5, 3)
r.width = 10
r.__height = 5
r.area()

30

In [ ]:
ix = [i for i in range(data.shape[1]) if i != 23]
X, y = data[:, ix], data[:, 23]
# print total missing
print('Missing: %d' % sum(isnan(X).flatten()))
# define imputer
imputer = KNNImputer()
# fit on the dataset
imputer.fit(X)
# transform the dataset
Xtrans = imputer.transform(X)
# print total missing
print('Missing: %d' % sum(isnan(Xtrans).flatten()))